	<!-- header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-3">
					<div class="logo"><a href="/main"><img src="/images/logo.png"></a></div>
				</div>
				<div class="col-sm-6">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<div class="navbar-nav">
									<a class="nav-item nav-link" href="/main">검색</a>
									<a class="nav-item nav-link" href="/main/notice">공지</a>
									<a class="nav-item nav-link" href="/main/requests?page=0&pageSize=10">요청사항</a>
									<a class="nav-item nav-link" href="/main/client">Clients</a>
									<a class="nav-item nav-link" href="/main/contact">Contact</a>
								</div>
						</div>
					</nav>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="search_main">
                    <button class="submit_bt"><a href="#"><span class="doctor"><img src="/images/doctor-icon.png"></span>Log in</a></button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- header section end -->