<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ("../header/template.ejs") %>
</head>
<body>
	<%- include ("../header/header.ejs") %>
	<!-- section PROMOTED start -->
	<div class=" layout_padding promoted_sectipon">
		<div class="container">
			<h1 class="promoted_text"> <span style="border-bottom: 5px solid #4bc714;">공지사항</span></h1>
			<div class="images_main">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-1">
						구분
					</div>
					<div class="col-sm-6 col-md-6 col-lg-2">
						<!-- row -->일시
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->공고명
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->설명1
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->설명1
					</div>
				</div>
			</div>
			<div class="images_main">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<!-- row -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section PROMOTED end -->
<%- include ("../footer/footer.ejs") %>
</body>
</html>